body {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c03905; 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  border: 4px solid #111;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  position: relative;
}

.login-container img {
  width: 120px;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  font-size: 32px;
  height: 75px;
  font-weight: bold;
  color: #000000;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  border: 4px solid #111;
  width: 100%;
  padding: 10px;
  background-color: #c03905;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a32d04;
}

#error-message {
  color: red;
  font-size: 14px;
  display: none; 
  margin-top: 15px;
}

